<div class="top">
  <div class="center">
  <a href="#money"><img src="/assets/img/pig_off.png" onmouseover="this.src='/assets/img/pig_on.png'"  onmouseout="this.src='/assets/img/pig_off.png'" ></a>
  </div>
  <div class="right">

<a href="/signout">Sign out</a>
<div class="sum">
<% if !current_user.nil? %>
<p><%= current_user.name %>さんの
<% end %>
<br>合計貯金額<br>
<span>¥ <%= (@works_sum - @monies) %></span>
</p>
</div>
</div>
</div>
<div class="main">
  <div class="stopwatch">
  <h1>STOP WATCH</h1>
  </div>
  <div class="time">
  <form name="myForm">
  <p id="time" name="myFormTime">0</p>
  </div>
  <div class="start">
  <input type="button" value="Start" name="myFormButton" onclick="myCheck()">
  </form>
  <p>Stop!を押したらリロード
  </p>
  </div>
  <div class="today-sum">
  <p>今日の貯金額　¥<%= @today %> </p>
  </div>
<div class="table">
<table>
<caption>− 1週間の貯金履歴 −</caption>
<tr>
  <td><%= @date.strftime("%m/%d")  %></td>
  <td>¥<%= @today %></td>
  <td>(<%= @today/10 %>分)</td>
</tr>
<tr>
  <td><%= @one_date.strftime("%m/%d")  %></td>
  <td>¥<%= @one %></td>
  <td>(<%= @one/10 %>分)</td>
</tr>
<tr>
  <td><%= @two_date.strftime("%m/%d")  %></td>
  <td>¥<%= @two %></td>
  <td>(<%= @two/10 %>分)</td>
</tr>
<tr>
  <td><%= @three_date.strftime("%m/%d")  %></td>
  <td>¥<%= @three %></td>
  <td>(<%= @three/10 %>分)</td>
</tr>
<tr>
  <td><%= @four_date.strftime("%m/%d")  %></td>
  <td>¥<%= @four %></td>
  <td>(<%= @four/10 %>分)</td>
</tr>
<tr>
  <td><%= @five_date.strftime("%m/%d")  %></td>
  <td>¥<%= @five %></td>
  <td>(<%= @five/10 %>分)</td>
</tr>
<tr>
  <td><%= @six_date.strftime("%m/%d")  %></td>
  <td>¥<%= @six %></td>
  <td>(<%= @six/10 %>分)</td>
</tr>
</table>
</div>
<div class="money" id="money">
<h1>MONEY</h1>
</div>
<div class="money-left">
<form action="/money" method="post">
  <input type="text" name="purpose" placeholder="使用目的"><br>
  <input type="number" name="money" placeholder="¥ 使用金額">
  </div>
  <div class="money-right">
  <input type="submit" value="使った">
  </div>
  <div class="today-sum">
  <p>今日の使用額　¥<%= @today_money %> </p>
  </div>
</form>
<div class="table">
<table>
<caption>− 1ヶ月の使用履歴 −</caption>
<% @histories.each do |history| %>
<tr>
  <td><%= history.created_at.strftime('%m/%d')  %></td>
  <td><%= history.purpose %>のために</td>
  <td>¥<%= history.money %></td>
  <td><a href="/delete/<%= history.id %>">削除</a></td>
</tr>
<% end %>
</table>
</div>
</div>
